apiVersion: meta.k8s.appscode.com/v1alpha1
kind: ResourceTableDefinition
metadata:
  labels:
    k8s.io/group: pkg.crossplane.io
    k8s.io/kind: ConfigurationRevision
    k8s.io/resource: configurationrevisions
    k8s.io/version: v1
  name: pkg.crossplane.io-v1-configurationrevisions
spec:
  defaultView: true
  resource:
    group: pkg.crossplane.io
    kind: ConfigurationRevision
    name: configurationrevisions
    scope: Cluster
    version: v1
