apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: config.gatekeeper.sh
    k8s.io/kind: Config
    k8s.io/resource: configs
    k8s.io/version: v1alpha1
  name: config.gatekeeper.sh-v1alpha1-configs
spec:
  resource:
    group: config.gatekeeper.sh
    kind: Config
    name: configs
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: configgatekeepersh-config-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:b1ccd081cadf2ced2a605465497e357d4745f16dd53dff64fea9bc237926afc0
    enforceQuota: false
