apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: gateway.networking.k8s.io
    k8s.io/kind: GRPCRoute
    k8s.io/resource: grpcroutes
    k8s.io/version: v1alpha2
  name: gateway.networking.k8s.io-v1alpha2-grpcroutes
spec:
  resource:
    group: gateway.networking.k8s.io
    kind: GRPCRoute
    name: grpcroutes
    scope: Namespaced
    version: v1alpha2
  ui:
    editor:
      name: gatewaynetworkingk8sio-grpcroute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:439de97a37c8f2fc1bb01627a8879a23675ed340eca5874ad50d05f1b7cfd795
    enforceQuota: false
