apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: gateway.networking.k8s.io
    k8s.io/kind: GRPCRoute
    k8s.io/resource: grpcroutes
    k8s.io/version: v1alpha2
  name: gateway.networking.k8s.io-v1alpha2-grpcroutes
spec:
  resource:
    group: gateway.networking.k8s.io
    kind: GRPCRoute
    name: grpcroutes
    scope: Namespaced
    version: v1alpha2
  ui:
    editor:
      name: gatewaynetworkingk8sio-grpcroute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:d31bcda4a6bc1b1f0eb06cb2afc1118294f232c3a25acf381c5604b1eca4c0db
    enforceQuota: false
