apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: gateway.networking.k8s.io
    k8s.io/kind: TCPRoute
    k8s.io/resource: tcproutes
    k8s.io/version: v1alpha2
  name: gateway.networking.k8s.io-v1alpha2-tcproutes
spec:
  resource:
    group: gateway.networking.k8s.io
    kind: TCPRoute
    name: tcproutes
    scope: Namespaced
    version: v1alpha2
  ui:
    editor:
      name: gatewaynetworkingk8sio-tcproute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:dcf5e3c6c1a1d337dcbb1d09bb5b12fcadf65713c396ac5b33e5872061bca736
    enforceQuota: false
