apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: gateway.networking.k8s.io
    k8s.io/kind: UDPRoute
    k8s.io/resource: udproutes
    k8s.io/version: v1alpha2
  name: gateway.networking.k8s.io-v1alpha2-udproutes
spec:
  resource:
    group: gateway.networking.k8s.io
    kind: UDPRoute
    name: udproutes
    scope: Namespaced
    version: v1alpha2
  ui:
    editor:
      name: gatewaynetworkingk8sio-udproute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:4bb5866c6406461e75f9191a336687faa9ee1b3d90f8a59e3ca3773193d491da
    enforceQuota: false
