apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: monitoring.coreos.com
    k8s.io/kind: AlertmanagerConfig
    k8s.io/resource: alertmanagerconfigs
    k8s.io/version: v1alpha1
  name: monitoring.coreos.com-v1alpha1-alertmanagerconfigs
spec:
  resource:
    group: monitoring.coreos.com
    kind: AlertmanagerConfig
    name: alertmanagerconfigs
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: monitoringcoreoscom-alertmanagerconfig-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:3d466eb5b272259cf7a1849fb20a9ca469840aab66398e693c6c0db4bea08479
    enforceQuota: false
