apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: monitoring.coreos.com
    k8s.io/kind: ScrapeConfig
    k8s.io/resource: scrapeconfigs
    k8s.io/version: v1alpha1
  name: monitoring.coreos.com-v1alpha1-scrapeconfigs
spec:
  resource:
    group: monitoring.coreos.com
    kind: ScrapeConfig
    name: scrapeconfigs
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: monitoringcoreoscom-scrapeconfig-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:11a9c2b7d72b097590e49d010254482cd24d415a5e41e54a2f5833da96967090
    enforceQuota: false
