apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: ""
    k8s.io/kind: Service
    k8s.io/resource: services
    k8s.io/version: v1
  name: core-v1-services
spec:
  icons:
  - src: https://cdn.appscode.com/k8s/icons/core/services.svg
    type: image/svg+xml
  - src: https://cdn.appscode.com/k8s/icons/core/services.png
    type: image/png
  resource:
    group: ""
    kind: Service
    name: services
    scope: Namespaced
    version: v1
  ui:
    editor:
      name: core-service-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:6a575b30c6905f68f70f009cf9e063383872fc4c486a2c63b9079e875e5ef46b
    enforceQuota: false
