apiVersion: meta.k8s.appscode.com/v1alpha1
kind: ResourceTableDefinition
metadata:
  labels:
    k8s.io/group: monitoring.coreos.com
    k8s.io/kind: ScrapeConfig
    k8s.io/resource: scrapeconfigs
    k8s.io/version: v1alpha1
  name: monitoring.coreos.com-v1alpha1-scrapeconfigs
spec:
  defaultView: true
  resource:
    group: monitoring.coreos.com
    kind: ScrapeConfig
    name: scrapeconfigs
    scope: Namespaced
    version: v1alpha1
