apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: extensions
    k8s.io/kind: Deployment
    k8s.io/resource: deployments
    k8s.io/version: v1beta1
  name: extensions-v1beta1-deployments
spec:
  resource:
    group: extensions
    kind: Deployment
    name: deployments
    scope: Namespaced
    version: v1beta1
  ui:
    editor:
      name: extensions-deployment-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:24c83d8e1f46ad31b42478cca971ee2ff0b9a0e0bf2e7c84cfdd987348868534
    enforceQuota: false
