apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: app.k8s.io
    k8s.io/kind: Application
    k8s.io/resource: applications
    k8s.io/version: v1beta1
  name: app.k8s.io-v1beta1-applications
spec:
  resource:
    group: app.k8s.io
    kind: Application
    name: applications
    scope: Namespaced
    version: v1beta1
  ui:
    editor:
      name: appk8sio-application-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:70c6cace7d40b8a2b231dfef8527b13353c9db0137af235a1ff3f63e898cee84
    enforceQuota: false
    instanceLabelPaths:
    - spec.selector.matchLabels
