apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: pkg.crossplane.io
    k8s.io/kind: ConfigurationRevision
    k8s.io/resource: configurationrevisions
    k8s.io/version: v1
  name: pkg.crossplane.io-v1-configurationrevisions
spec:
  resource:
    group: pkg.crossplane.io
    kind: ConfigurationRevision
    name: configurationrevisions
    scope: Cluster
    version: v1
  ui:
    editor:
      name: pkgcrossplaneio-configurationrevision-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:545dbf3c8be61c687a23f4d4a9173c75e1002777be4c13eef30110161e5b87db
    enforceQuota: false
