apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: pkg.crossplane.io
    k8s.io/kind: ConfigurationRevision
    k8s.io/resource: configurationrevisions
    k8s.io/version: v1
  name: pkg.crossplane.io-v1-configurationrevisions
spec:
  resource:
    group: pkg.crossplane.io
    kind: ConfigurationRevision
    name: configurationrevisions
    scope: Cluster
    version: v1
  ui:
    editor:
      name: pkgcrossplaneio-configurationrevision-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:1ba17bd1f7f321a06ad81e76e9bedab5ffe2e9e5cf67b8ab75f65c0974a8cb80
    enforceQuota: false
