apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: kustomize.toolkit.fluxcd.io
    k8s.io/kind: Kustomization
    k8s.io/resource: kustomizations
    k8s.io/version: v1beta2
  name: kustomize.toolkit.fluxcd.io-v1beta2-kustomizations
spec:
  resource:
    group: kustomize.toolkit.fluxcd.io
    kind: Kustomization
    name: kustomizations
    scope: Namespaced
    version: v1beta2
  ui:
    editor:
      name: kustomizetoolkitfluxcdio-kustomization-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:98a8b9104ac1fb5a2e832319d08ad0506eb165b044c5a4f20d3205e9a5e5bac6
    enforceQuota: false
