apiVersion: meta.k8s.appscode.com/v1alpha1
kind: ResourceTableDefinition
metadata:
  labels:
    k8s.io/group: gateway.catalog.appscode.com
    k8s.io/kind: GatewayConfig
    k8s.io/resource: gatewayconfigs
    k8s.io/version: v1alpha1
  name: gateway.catalog.appscode.com-v1alpha1-gatewayconfigs
spec:
  defaultView: true
  resource:
    group: gateway.catalog.appscode.com
    kind: GatewayConfig
    name: gatewayconfigs
    scope: Namespaced
    version: v1alpha1
