apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: addon.open-cluster-management.io
    k8s.io/kind: AddOnDeploymentConfig
    k8s.io/resource: addondeploymentconfigs
    k8s.io/version: v1alpha1
  name: addon.open-cluster-management.io-v1alpha1-addondeploymentconfigs
spec:
  resource:
    group: addon.open-cluster-management.io
    kind: AddOnDeploymentConfig
    name: addondeploymentconfigs
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: addonopenclustermanagementio-addondeploymentconfig-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:81b7dee43adc424c3b4229d197851106d2a2422b7dc2a92554330245e1744b5d
    enforceQuota: false
