apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: addon.open-cluster-management.io
    k8s.io/kind: AddOnDeploymentConfig
    k8s.io/resource: addondeploymentconfigs
    k8s.io/version: v1alpha1
  name: addon.open-cluster-management.io-v1alpha1-addondeploymentconfigs
spec:
  resource:
    group: addon.open-cluster-management.io
    kind: AddOnDeploymentConfig
    name: addondeploymentconfigs
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: addonopenclustermanagementio-addondeploymentconfig-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:0bff8dc899757662ea3e4128aede418410e97d9bb68a5e4c06ec3115b8aaa2b7
    enforceQuota: false
