apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: proxy.open-cluster-management.io
    k8s.io/kind: ManagedProxyConfiguration
    k8s.io/resource: managedproxyconfigurations
    k8s.io/version: v1alpha1
  name: proxy.open-cluster-management.io-v1alpha1-managedproxyconfigurations
spec:
  resource:
    group: proxy.open-cluster-management.io
    kind: ManagedProxyConfiguration
    name: managedproxyconfigurations
    scope: Cluster
    version: v1alpha1
  ui:
    editor:
      name: proxyopenclustermanagementio-managedproxyconfiguration-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:8297706f1fbd0908d14b74908a1856b2fb84914c422a07e9d509cd1e05fd4016
    enforceQuota: false
