apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: proxy.open-cluster-management.io
    k8s.io/kind: ManagedProxyConfiguration
    k8s.io/resource: managedproxyconfigurations
    k8s.io/version: v1alpha1
  name: proxy.open-cluster-management.io-v1alpha1-managedproxyconfigurations
spec:
  resource:
    group: proxy.open-cluster-management.io
    kind: ManagedProxyConfiguration
    name: managedproxyconfigurations
    scope: Cluster
    version: v1alpha1
  ui:
    editor:
      name: proxyopenclustermanagementio-managedproxyconfiguration-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:831ef6a4cae2167e7d300cca30b64aee34d92a9245612613ac7f0f3ddb90138b
    enforceQuota: false
