apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: admissionregistration.k8s.io
    k8s.io/kind: ValidatingWebhookConfiguration
    k8s.io/resource: validatingwebhookconfigurations
    k8s.io/version: v1
  name: admissionregistration.k8s.io-v1-validatingwebhookconfigurations
spec:
  icons:
  - src: https://cdn.appscode.com/k8s/icons/admissionregistration.k8s.io/validatingwebhookconfigurations.svg
    type: image/svg+xml
  - src: https://cdn.appscode.com/k8s/icons/admissionregistration.k8s.io/validatingwebhookconfigurations.png
    type: image/png
  resource:
    group: admissionregistration.k8s.io
    kind: ValidatingWebhookConfiguration
    name: validatingwebhookconfigurations
    scope: Cluster
    version: v1
  ui:
    editor:
      name: admissionregistrationk8sio-validatingwebhookconfiguration-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:faa20185b4950276331732b61d0f59e467a37d39a8e245e687b2b66b5eda50bd
    enforceQuota: false
