apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: gateway.voyagermesh.com
    k8s.io/kind: PostgresRoute
    k8s.io/resource: postgresroutes
    k8s.io/version: v1alpha1
  name: gateway.voyagermesh.com-v1alpha1-postgresroutes
spec:
  resource:
    group: gateway.voyagermesh.com
    kind: PostgresRoute
    name: postgresroutes
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: gatewayvoyagermeshcom-postgresroute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:20d0a00c0f3b65624ad471b703e2ff932491487d357042a0069bbcc8d36b0181
    enforceQuota: false
