apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: gateway.voyagermesh.com
    k8s.io/kind: PostgresRoute
    k8s.io/resource: postgresroutes
    k8s.io/version: v1alpha1
  name: gateway.voyagermesh.com-v1alpha1-postgresroutes
spec:
  resource:
    group: gateway.voyagermesh.com
    kind: PostgresRoute
    name: postgresroutes
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: gatewayvoyagermeshcom-postgresroute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:88cfad560a1d7270b6b12029249d8dddece8a76eb195babfdfaa085af8dc11a2
    enforceQuota: false
