apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: gateway.voyagermesh.com
    k8s.io/kind: RedisRoute
    k8s.io/resource: redisroutes
    k8s.io/version: v1alpha1
  name: gateway.voyagermesh.com-v1alpha1-redisroutes
spec:
  resource:
    group: gateway.voyagermesh.com
    kind: RedisRoute
    name: redisroutes
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: gatewayvoyagermeshcom-redisroute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:1924bdde2740529551bd1e68b6034bb0d7c683cb84b785e14d6996a48e92207e
    enforceQuota: false
