apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: flowcontrol.apiserver.k8s.io
    k8s.io/kind: PriorityLevelConfiguration
    k8s.io/resource: prioritylevelconfigurations
    k8s.io/version: v1alpha1
  name: flowcontrol.apiserver.k8s.io-v1alpha1-prioritylevelconfigurations
spec:
  resource:
    group: flowcontrol.apiserver.k8s.io
    kind: PriorityLevelConfiguration
    name: prioritylevelconfigurations
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: flowcontrolapiserverk8sio-prioritylevelconfiguration-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:f3d529e49e141dd08b9d40e34dc80c4fd58a9336c50a7676446eb1a9531f6223
    enforceQuota: false
