apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: gateway.networking.k8s.io
    k8s.io/kind: GRPCRoute
    k8s.io/resource: grpcroutes
    k8s.io/version: v1
  name: gateway.networking.k8s.io-v1-grpcroutes
spec:
  resource:
    group: gateway.networking.k8s.io
    kind: GRPCRoute
    name: grpcroutes
    scope: Namespaced
    version: v1
  ui:
    editor:
      name: gatewaynetworkingk8sio-grpcroute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:1111cdf6c24d8d17d5fb823aeb937231da7547a4d377756954b647b9d308f7e9
    enforceQuota: false
