apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: gateway.networking.k8s.io
    k8s.io/kind: HTTPRoute
    k8s.io/resource: httproutes
    k8s.io/version: v1
  name: gateway.networking.k8s.io-v1-httproutes
spec:
  resource:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: httproutes
    scope: Namespaced
    version: v1
  ui:
    editor:
      name: gatewaynetworkingk8sio-httproute-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:131d193df266248293e76f4db1f76bfdb030eeb1d8fcea34d6417a43484c0745
    enforceQuota: false
