apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: runtime.cluster.x-k8s.io
    k8s.io/kind: ExtensionConfig
    k8s.io/resource: extensionconfigs
    k8s.io/version: v1alpha1
  name: runtime.cluster.x-k8s.io-v1alpha1-extensionconfigs
spec:
  resource:
    group: runtime.cluster.x-k8s.io
    kind: ExtensionConfig
    name: extensionconfigs
    scope: Cluster
    version: v1alpha1
  ui:
    editor:
      name: runtimeclusterxk8sio-extensionconfig-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:4b314702ea9a78ec68e0b536efc6412d07c6dab8981e6f63bdb762f7b64c7b5d
    enforceQuota: false
