apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: fluxcd.open-cluster-management.io
    k8s.io/kind: FluxCDConfig
    k8s.io/resource: fluxcdconfigs
    k8s.io/version: v1alpha1
  name: fluxcd.open-cluster-management.io-v1alpha1-fluxcdconfigs
spec:
  resource:
    group: fluxcd.open-cluster-management.io
    kind: FluxCDConfig
    name: fluxcdconfigs
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: fluxcdopenclustermanagementio-fluxcdconfig-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:81df04da95d1ca606b1316e5c816f0094ca7d8265cd3df648b34270d5a335482
    enforceQuota: false
