apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: cluster.x-k8s.io
    k8s.io/kind: MachineDeployment
    k8s.io/resource: machinedeployments
    k8s.io/version: v1beta1
  name: cluster.x-k8s.io-v1beta1-machinedeployments
spec:
  resource:
    group: cluster.x-k8s.io
    kind: MachineDeployment
    name: machinedeployments
    scope: Namespaced
    version: v1beta1
  ui:
    editor:
      name: clusterxk8sio-machinedeployment-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:b5ec5d7c8d81ff03c20d2367e29ef12349ff6c6873d974deb3f1b712c52626a8
    enforceQuota: false
