apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: gateway.catalog.appscode.com
    k8s.io/kind: GatewayConfig
    k8s.io/resource: gatewayconfigs
    k8s.io/version: v1alpha1
  name: gateway.catalog.appscode.com-v1alpha1-gatewayconfigs
spec:
  resource:
    group: gateway.catalog.appscode.com
    kind: GatewayConfig
    name: gatewayconfigs
    scope: Namespaced
    version: v1alpha1
  ui:
    editor:
      name: gatewaycatalogappscodecom-gatewayconfig-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:ed1dfef83899c6d8a93d7add69a47b34bd037d49cd16910e3679af6e4e2b3606
    enforceQuota: false
