apiVersion: meta.k8s.appscode.com/v1alpha1
kind: ResourceTableDefinition
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: ""
    k8s.io/kind: ConfigMap
    k8s.io/resource: configmaps
    k8s.io/version: v1
  name: core-v1-configmaps
spec:
  defaultView: true
  columnDefinitions:
  - name: Name
    pathTemplate: '{{ .metadata.name }}'
    priority: 3
    type: string
  - name: Namespace
    pathTemplate: '{{ .metadata.namespace }}'
    priority: 3
    type: string
  - name: Labels
    pathTemplate: '{{ .metadata.labels | toRawJson }}'
    priority: 3
    type: object
  - name: Annotations
    pathTemplate: '{{ .metadata.annotations | toRawJson }}'
    priority: 3
    type: object
  - name: Data
    pathTemplate: '{{ .data | map_key_count }}'
    priority: 3
    type: string
  - name: Age
    pathTemplate: '{{ .metadata.creationTimestamp }}'
    priority: 3
    type: date
    sort:
      enable: true
      template: '{{ .metadata.creationTimestamp }}'
      type: integer
  resource:
    group: ""
    kind: ConfigMap
    name: configmaps
    scope: Namespaced
    version: v1
