apiVersion: meta.k8s.appscode.com/v1alpha1
kind: ResourceTableDefinition
metadata:
  creationTimestamp: null
  labels:
    k8s.io/group: ""
    k8s.io/kind: Service
    k8s.io/resource: services
    k8s.io/version: v1
  name: core-v1-services
spec:
  columns:
  - name: Name
    pathTemplate: '{{ .metadata.name }}'
    priority: 3
    type: string
    width: 1
  - name: Namespace
    pathTemplate: '{{ .metadata.namespace }}'
    priority: 3
    type: string
    width: 1
  - name: Labels
    pathTemplate: '{{ .metadata.labels | toRawJson }}'
    priority: 3
    type: object
    width: 1
  - name: Annotations
    pathTemplate: '{{ .metadata.annotations | toRawJson }}'
    priority: 1
    type: object
    width: 1
  - name: Type
    pathTemplate: '{{ .spec.type }}'
    priority: 3
    type: string
    width: 1
  - name: Cluster-IP
    pathTemplate: '{{ .spec.clusterIP }}'
    priority: 3
    type: string
    width: 1
  - name: External-IP
    priority: 3
    type: string
    width: 1
  - name: Port(s)
    pathTemplate: '{{ .spec.ports | k8s_svc_ports }}'
    priority: 2
    type: string
    width: 1
  - name: Selector
    priority: 3
    type: string
    width: 1
  - name: Age
    pathTemplate: '{{ .metadata.creationTimestamp | k8s_age }}'
    priority: 3
    sort:
      enable: true
      template: '{{ .metadata.creationTimestamp | toDate "2006-01-02T15:04:05Z07:00" | unixEpoch }}'
      type: integer
    type: string
    width: 1
  defaultView: true
  resource:
    group: ""
    kind: Service
    name: services
    scope: Namespaced
    version: v1
