apiVersion: ui.k8s.appscode.com/v1alpha1
kind: ResourceEditor
metadata:
  labels:
    k8s.io/group: networking.k8s.io
    k8s.io/kind: IngressClass
    k8s.io/resource: ingressclasses
    k8s.io/version: v1
  name: networking.k8s.io-v1-ingressclasses
spec:
  resource:
    group: networking.k8s.io
    kind: IngressClass
    name: ingressclasses
    scope: Namespaced
    version: v1
  ui:
    editor:
      name: networkingk8sio-ingressclass-editor
      sourceRef:
        apiGroup: source.toolkit.fluxcd.io
        kind: HelmRepository
        name: appscode-charts-oci
      version: sha256:736d3f3ca6a73b13f8b86935d91396ad9dfbb201b4445f9c7a3957231e20e490
    enforceQuota: false
